<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="movieDetails">{{ movieDetails.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="movieDetails">
    <ion-card-header>
      <ion-card-title>{{ movieDetails.title }}</ion-card-title>
      <ion-card-subtitle>{{ movieDetails.year }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>  
      <img [src]="movieDetails.poster" class="img-poster-size">
        <br/>
        <p>{{ movieDetails.plot }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

