<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ionic Movies App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Select Genre</ion-label>
      <ion-select [(ngModel)]="selectedGenre" (ionChange)="genreChange($event)">
        <ion-select-option *ngFor="let genre of genresList" [value]="genre.id" >{{genre.name}}</ion-select-option>
      </ion-select>
    </ion-item>    
    <ion-item button *ngFor="let movie of moviesList" [routerLink]="['/movies/', movie.id]">
      <ion-avatar slot="start">
        <img [src]="movie.poster">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ movie.title }}</h3>
        {{ movie.year }}
      </ion-label>

      <ion-icon slot="end" name="videocam"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
